<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
  <p><a href="{% url 'create_post' %}">Create Post</a></p>
  {%for post in posts%}
  <div style="width: 300px; margin: 0 auto; margin-bottom: 20px; text-align: center; border: 2px solid red; background-color: aqua">
        <p>{{post.author}}</p>
        <p>{{post.title}}</p>
        <p>{{post.likes}}</p>
        <p><a href="{% url 'post_detail' post.pk %}">Read more</a></p>
  </div>
  {%endfor%}
</body>
</html>